@font-face {
	font-family: 'Baloo';
	src:url('../fonts/Baloo-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


/*Typography & colors*/
html {
	font-size:45%;
}
body {
	background-color:#F7FCFF;
	font-family: 'Roboto', sans-serif;
	color: #202020;
	font-size:24px;
	font-size:2.4rem;
	margin: 0;
}

h1, h2, h3 {
	font-family:'Baloo', cursive;
}
.titre {
	font-size:60px;
	font-size:5rem;
	line-height:1;
	position:relative;
	text-transform: uppercase;
}
.titre, .stitre {
	color: #252525;
	text-align:center;
}

.accent  {
	color: #ff9400;
}
.blanc {
	color:#fff;
}

.titre::before {
	content:'_';
	color:transparent;
	background-color:#ff9400;
	height:10px;
	width:66px;
	border-radius:5px;
	position:absolute;
	top:-40px;
	left:calc(50% - 33px);
}
h1.titre::before {
	top:-60px;
}
.stitre {
	font-size:2.6rem;
	margin-bottom:5rem;
}
h1 + .stitre {
	font-size: 3rem;
}
button {
	background-color:#ff9400;
	border-radius : 3rem;
	border:0;
	color:#fff;
	cursor:pointer;
	display:block;
	font-family: 'Baloo';
	font-size:2.4rem;
	height:6rem;
	margin:2rem 0;
	padding:0 3rem;
	position: relative;
	text-align:center;
	transition: all ease-in-out 0.7s;
	width:100%;
}

button:hover, button:focus, button.btn2 {
	background-color: #fff;
	color:#ff9400;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

button.btn2:hover, button.btn2:focus {
	background-color:#ff9400;
	color:#fff;
}

button.btn3 {
	color:#202020;
}

.separateur-footer {
	border-radius: 0 0 30px 30px;
	background-color:#F7FCFF;
	position:relative;
	bottom:-30px;
	height:30px;
}

footer {
	background-color:#202020;
	color:#fff;
}

footer a {
	text-decoration:underline;
}

.notes {
	background-color: #272727;
	font-size:1.8rem;
	padding-top:30px;
}

/*Layout & spacing*/
.titre {
	margin-bottom:3rem;
	margin-top:13rem;
}
h1.titre {
	margin-bottom:2rem;
	margin-top:10rem;
}

p {
	margin-top:0;
	margin-bottom:1rem;
}

section {
	border:solid 1px darkturquoise; /*dev*/
	padding: 0 10%;
}
.large {
	display:none;
}

@media screen and (min-width:768px) {
	html {
	font-size:62.5%;
}
	.large {
		display:inline-block;
	}
	.mobile {
		display: none;
	}


	.titre, .stitre {
		text-align:left;
	}
	.titre::before {
		left:0;
	}
	button {
		width:auto;
		text-align: left;
	}

	h1 + .stitre {
		max-width:32rem;
	}

	.stitre {
		max-width:67rem;
	}
}

@media screen and (min-width:1000px) {
		section {
		padding:0 calc(50vw - 470px);
	}
}

/* Header */
header.sticky {
	background-color:#fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
	position:sticky;
	top:0;
	z-index:1;
}
header.absolute {
	background-color:#F7FCFF;
	position:absolute;
	top:0;
	z-index:2;
	width:100%;
	min-height:96px;
}
header .logo {
	margin-top:20px
}

header .inner {
	align-items: center;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding:10px 20px;
}
header p {
	font-size:14px;
	line-height:1;
  text-align: center;

}
header button {
  flex-basis:185px;
	flex-shrink:0;
	flex-grow:0;
	font-size:13px;
	height:30px;
	margin:0;
	padding:0 16px;
		text-align: center;

}
@media screen and (min-width:450px) {
	header.absolute {
		min-height:50px;
	}
	
	#investir {
		margin-top:40px
	}
	
	header p {
	 margin-bottom:0;
	padding-right:20px;
		text-align: left;
		
		
	}
}
@media screen and (min-width:768px) {
	header .logo {
		margin-top:0;
	}
	#investir {
		margin-top:0;
	}
	header p {
		font-size:16px;
	}
	header button {
		height:36px;
	}
	header.absolute {
		min-height:80px;
	}
	header.absolute .inner {
	display:flex;
}
	header .inner {
		justify-content:space-between;

		padding:10px 30px;
	}
	header p {
	flex-grow: 1;
	text-align: right;
}
}
@media screen and (min-width:1100px) {
		header .inner {
		padding: 10px  calc(50vw - 540px);
	}
}
/* Section #investir */
#investir .logo {
	position:relative;
	margin:10px auto 50px;
	max-width:260px;
	display: block;
	padding-bottom: 30px;
}

/* Section atouts*/
ul.atouts {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
	border-radius: 40px;
	padding:20px;
	padding-right:10px;
	margin-bottom:5rem;
	list-style: none;
}
ul.atouts  h3 {
	font-size:3.6rem;
	line-height:1;
	margin:0;
}
.atouts  li {
	background-repeat: no-repeat;
	background-image: url('check.png');
	background-size:2.8rem;
	background-position:left 0.3rem;
	margin-bottom:2rem;
	padding-left:4.2rem;
}

@media screen and (min-width:768px) {
	ul.atouts {
		box-shadow: none;
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		padding:0;
	}
	.atouts  li {
		background-position-y: 3.2rem;
		box-sizing: border-box;
    border-top: 2px dotted #b4b4b4;
		flex-basis:calc(50% - 1.5rem);
		flex-grow:0;
		margin:0;
		padding:3rem 0 3rem 3.8rem;
	}
	.atouts  li:nth-child(2) {
    border-bottom: 2px dotted #b4b4b4;
		order:2;
	}
	.atouts  li:nth-child(4) {
    border-bottom: 2px dotted #b4b4b4;
		order:3
	}
  .atouts li strong {
		font-weight:normal;
	}
}

/* section #pourquoi */
ul.pourquoi {
	list-style: none;
	margin:0;
	padding:10px;
	padding-left:30%;
	text-align: right;
}
.pourquoi li {
	margin:0 0 6.4rem;
	padding:0;
	
}
.pourquoi h3 {
	font-size:4rem;
	line-height:1;
	margin:0 0 1.6rem;
}
@media screen and (min-width:768px) {
	ul.pourquoi {
		display:flex;
		flex-wrap:wrap;
		justify-content: space-between;
		padding:0;
		padding-right:20%;
		text-align:left;
	}
	.pourquoi  li {
		box-sizing: border-box;
		flex-basis:calc(50% - 1.5rem);
		flex-grow:0;
	}
	.pourquoi  li:nth-child(2) {
		order:2;
	}
	.pourquoi  li:nth-child(4) {
		order:3
	}
}

/*section #avantages*/
section {
	position:relative;
}
.decor-1 {
	background-image:url('decor-1-mobile.png');
	background-repeat:no-repeat;
	background-size:100% 820px;
	background-position: top left;
	position:absolute;
	top:-85px;
	left:0;
	width:100%;
	height:100%;
}
.decor-1 img {
	width:100%;
	height:1000px;
}

.titre.blanc::before {
	background-color: #fff;
}
.avantages {
	display:flex;
	overflow: visible;
	position: relative;
}
.avantage {
	background-color:#fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
	border-radius: 40px;
	flex-basis:300px;
	flex-shrink:0;
	margin-right:3rem;
	padding:5rem 4rem;
	text-align:center;
}
.avantage .icone {
	height:242px;
	display:flex;
	align-items:center;
}
.avantage h3 {
	font-size:4rem;
	text-transform: uppercase;
	line-height:1;
}
.avantage .flex {
	padding:0 3rem;
}
.avantage p:first-of-type {
	border-bottom : 3px dotted #c1c1c1;
	padding-bottom:5rem;
	margin-bottom:5rem;
}
@media screen and (min-width:768px) {
	.decor-1 {
		top:-20px
	}
}